<div id="<%= dom_id guardian %>">
  <p>
    <strong>Name:</strong>
    <%= guardian.name %>
  </p>

  <p>
    <strong>Email Address:</strong>
    <%= guardian.email_address %>
  </p>

  <p>
    <strong>Contact Number:</strong>
    <%= guardian.contact_number %>
  </p>

  <p>
    <strong>Number of Students:</strong>
    <%= guardian.number_of_students %>
  </p>

</div>
