<p style="color: green"><%= notice %></p>

<%= render @student %>

<h3>List of Subjects</h3>

<table>
  <thead>
    <tr>
      <th>Section</th>
      <th>Subject</th>
      <th>Number of Units</th>
      <th>Teacher</th>
    </tr>
  </thead>
  <tbody>
    <% @student.classlists.each do |classlist| %>
      <tr>
        <td><%= classlist.section.name %></td>
        <td><%= classlist.section.subject.name %></td>
        <td><%= classlist.section.subject.number_of_units %></td>
        <td><%= classlist.section.subject.teacher.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h4>In case of emergency please contact: </h4>
<table>
  <thead>
    <tr>
      <th>Guardian Name</th>
      <th>Email Address</th>
      <th>Contact Number</th>
      <th>Relationship to the Student</th>
    </tr>
  </thead>
  <tbody>
    <% @student.relationships.each do |relationship| %>
      <tr>
        <td><%= relationship.guardian.name %></td>
        <td><%= relationship.guardian.email_address %></td>
        <td><%= relationship.guardian.contact_number %></td>
        <td><%= relationship.guardianship %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div>
  <%= link_to "Edit this student", edit_student_path(@student) %> |
  <%= link_to "Back to students", students_path %>

  <%= button_to "Destroy this student", @student, method: :delete %>
</div>
