<p style="color: green"><%= notice %></p>

<% content_for :title, "Relationships" %>

<h1>Relationships</h1>

<table>
  <thead>
    <tr>
      <th>Guardian</th>
      <th>Student</th>
      <th>Relationship</th>
      <th>Show</th>
    </tr>
  </thead>
  <tbody>
    <% @relationships.each do |relationship| %>
      <tr>
        <td><%= relationship.guardian.name %></td>
        <td><%= relationship.student.name %></td>
        <td><%= relationship.guardianship %></td>
        <td><%= link_to "Show this relationship", relationship%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "New relationship", new_relationship_path %>
