<div id="<%= dom_id section %>">
  <p>
    <strong>Name:</strong>
    <%= section.name %>
  </p>

  <p>
    <strong>Room:</strong>
    <%= section.room %>
  </p>

  <p>
    <strong>Timeslot:</strong>
    <%= section.timeslot %>
  </p>

  <p>
    <strong>Subject:</strong>
    <%= section.subject.name %>
  </p>

</div>
